/* General Background */
.background {
    -fx-background-image: url("https://i.imgur.com/4GtSynD.jpeg"); /* Add texture image */
    -fx-background-size: cover; /* Cover the entire area */
    -fx-opacity: 0.9; /* Slightly reduce opacity to blend the texture */
}