/* General Background */
.background {
    -fx-background-image: url("https://i.imgur.com/BkAiFZf.png");  /* Ensure the image has transparency where needed */
    -fx-background-size: cover;
}
.welcome-text {
    -fx-font-size: 24px;
    -fx-fill: white;
    -fx-font-weight: bold;  /* Αν θέλεις να το κάνεις και έντονο */
}
